<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.title != '' %}
          <h1 class="text-center">{{site.title}}</h1>
          {% endif %}

          <p class="text-center">
            I'm a Hands-On Technology Leader and CTO.
          </p>

          <div class="hero-buttons">

            {% if site.linkedin_username != '' %}
              <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-lg"></i>Linkedin</button></a>
            {% endif %}
            {% if site.github_username != '' %}
              <a href="https://github.com/{{ site.github_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-github fa-lg"></i>Github</button></a>
            {% endif %}
            {% if site.cv_url != '' %}
              <a href="{{ site.cv_url }}"><button class="btn btn-default btn-lg"><i class="fa fa-file fa-lg"></i>Résumé</button></a>
            {% endif %}

          </div>



        </div>

      </div>

      <h2 class="text-center">Portfolio</h2>

      <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>

    </div>

  </div>

</div>
